
.categories { 
    height: 250px;
    text-align: center;
    line-height: 14;
}

#c1 { background-color: lightblue; }
#c2 { background-color: lightseagreen; }
#c3 { background-color: lightcyan; }


