<ion-header>
  <ion-toolbar class="invis-toolbar">
    <ion-title>
      Toolbar
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col size-md="4" size-sm="12" size-xs="12" class="categories" id="c1">
            <div>
              1 of 3
            </div>
          </ion-col>
          <ion-col size-md="4" size-sm="12" size-xs="12" class="categories" id="c2">
            <div>
              2 of 3
            </div>
          </ion-col>
          <ion-col  size-md="4" size-sm="12" size-xs="12"class="categories" id="c3"> 
            <div>
              3 of 3
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
